.carousel-container {
	max-width: 75%;
	max-height: 25%;
	margin: auto;
	background-color: #add8e6 !important;
}

.menu-top {
	display: inline !important;
	float: right;
}

.menu-top-logo {
	display: inline;
	padding-right: 60%;
}

.menu-top-list {
	list-style-type: none;
	bottom: 0;
}

.btn-quote a {
	color: white !important;
	text-decoration: none !important;
}

.btn-quote {
	background-color: green;
	margin-top:9% !important;
}

.centered-text {
	margin: auto;
	text-align: center;
}

.quote-form {
	padding-top: 5%;

	max-width: 25%;
	margin: auto;
}

.img-tbl {
  width: 25%;
}

.img-container {
  width: 25%
}
