.carousel-container {
	max-width: 100%;
	/*max-height: 25%;*/
	margin: auto;
	background-color: #add8e6 !important;
}

.menu-top {
	display: inline !important;
	float: right;
}

.menu-top-logo {
	display: inline;
	padding-right: 60%;

}

.menu-top-list {
	list-style-type: none;
	bottom: 0;
}

.btn-quote a {
	color: white !important;
	text-decoration: none !important;
}

.btn-quote {
	background-color: green;
	margin-top:9% !important;
}

.centered-text {
	margin: auto;
	text-align: center;
}

.quote-form {
	padding-top: 5%;

	max-width: 25%;
	margin: auto;
}

/*.img-tbl {
  width: 25%;
}*/

.img-row {
	display: table-row;
	text-align: center;
	margin: auto;
}

.img-circle {
	border-radius: 50%;
	width: 70%;
}

.img-and-caption {
	text-align: center;
	display: table-cell;
}

.tbl-container {
	display: table;
	margin-top: 5%;
	margin-bottom: 5%;
	padding: 8% 4% 10% 4%;
}

.footer {
	text-align: center;
	color: white;
	background-color: rgb(31, 51, 71);
	padding-top: 3%;
	padding-bottom: 2%;
	font-size: 135%;
}

.bottom-links{
	padding-left: 2%;
	padding-right: 2%;
	margin-left: 3%;
	margin-right: 3%;
}

.links-container{
	width: auto;
	align-self: center;
	margin-top: 2%;
	margin-bottom: 1%;
}

blockquote {
    font-family: Georgia, serif;
    font-size: 18px;
    font-style: italic;
    width: 70%;
    margin: 2% 0;
    padding: 3% 10%;
    position: relative;
    color: white;
		align: center;
}

blockquote:before {
    font-family: Georgia, serif;
    position: absolute;
    font-size: 6em;
    line-height: 1;
    top: 0;
    left: 0;
    content: "\201C";
}
blockquote:after {
    font-family: Georgia, serif;
    position: absolute;
    float:right;
    font-size:6em;
    line-height: 1;
    right:0;
    bottom:-0.5em;
    content: "\201D";
}

.quote {
	padding-bottom: 7%;
	padding-left: 25%;
	padding-top: 2%;
	background-color: rgb(31, 51, 71);
}
