.carousel-container {
	max-width: 125%;
	/*max-height: 25%;*/
	margin: auto;
	background-color: #add8e6 !important;
}

.menu-top {
	display: inline !important;
	float: right;
}

.menu-top-logo {
	display: inline;
	padding-right: 60%;
}

.menu-top-list {
	list-style-type: none;
	bottom: 0;
}

.btn-quote a {
	color: white !important;
	text-decoration: none !important;
}

.btn-quote {
	background-color: green;
	margin-top:9% !important;
}

.centered-text {
	margin: auto;
	text-align: center;
}

.quote-form {
	padding-top: 5%;

	max-width: 25%;
	margin: auto;
}

/*.img-tbl {
  width: 25%;
}*/

.img-row {
	display: table-row;
	text-align: center;
	margin: auto;
}

.img-circle {
	border-radius: 50%;
	width: 85%;
}

.img-and-caption {
	text-align: center;
	display: table-cell;
}

.tbl-container {
	display: table;
	margin-top: 5%;
	margin-bottom: 5%;
	padding: 10% 4% 10% 4%;
}

.footer {
	text-align: center;
	color: white;
	background-color: rgba(0, 51, 102, .95);
	padding-top: 3%;
	padding-bottom: 2%;
	font-size: 135%;
}

.bottom-links{
	padding-left: 2%;
	padding-right: 2%;
	margin-left: 3%;
	margin-right: 3%;
}

.links-container{
	width: auto;
	align-self: center;
	margin-top: 2%;
	margin-bottom: 1%;
}
